body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    margin: 2px;
}

label {
    display: block;
    margin-bottom: 10px;
    width: 300px;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 300px;
    height: 20px;
}

.suggestions {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    width: 300px;
}
.suggestions div {
    padding: 10px;
    cursor: pointer;
}
.suggestions div:hover {
    background-color: #f0f0f0;
}
#map {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    border: 2px solid lightgray;
}
.autocomplete-container {
    position: relative;
}

.menu {
    display: flex;
    border: 2px solid lightgray;
    padding: 20px;
}

.container_1 {
    /*border: 1px solid black;*/
}

.container_2 {
    /*border: 1px solid black;*/
    width: 80px;
    height: 20px;
}

.add_in_favarit {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.add_in_favarit:hover {
    background-color: #ccc;
    border-radius: 3px;
}

.fav_routes {
    margin: 10px;
}

.options {
    padding-left: 10px;
    padding-right: 10px;
}

.options-input {
    width: 150px;
}

.options-dropdown {
    width: 155px;
    height: 25px;
}

table {
    width: 820px;
    padding: 0px;
    margin: 0px;
}

.history-table {
    overflow-y: scroll;
    height: 220px;
    border-collapse: collapse;
    border: 1px solid lightgray;
    margin-left: 20px;
}

td, th {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    border: 1px solid lightgray;
    height: 25px;
}

.history-table thead th 
{ 
    position: sticky; 
    top: 0; 
    z-index: 1;
    background-color: whitesmoke;
}

.modal {
    display: none;
    position: absolute;
    margin-left: 350px;
    margin-top: -10px;
    z-index: 200;
    width: 800px;
    height: 500px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.closeButton {
    display: flex;
    justify-self: end;
    height: 20px;
    width: 20px;
    margin: 7px;
}

.closeButton:hover {
    cursor: pointer;
}

.modalTable {
    margin-left: 200px;
    margin-top: 13px;
    position: absolute;
    overflow-y: scroll;
}

.modalTable thead th 
{ 
    position: sticky; 
    top: 0; 
    z-index: 1;
    background-color: whitesmoke;
}

.modalTable, td, th {
    border: 1px solid lightgray;
}

.modalTable tr:hover {
    background-color: rgb(236, 236, 236);
}

.modalTable tr.selected {
    background-color: rgb(236, 236, 236);
}

.modalButtonsDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 13px;
}

.modalButton {
    width: 150px;
    margin: 10px;
    height: 35px;
}